<%- include("partials/shared_header", { title: "Proof of Work Verification Settings - OAI Reverse Proxy Admin" }) %>
<h1>PoW Verification Settings</h1>
<p>
  This page allows you to configure the proof of work verification captcha settings or manage user tokens issued via the
  captcha.
</p>
<div>
  <h3>Difficulty Level</h3>
  <div>
    <label for="difficulty">Difficulty Level:</label>
    <span id="currentDifficulty">Current: <%= difficulty %></span>
    <select name="difficulty" id="difficulty">
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
      <option value="extreme">Extreme</option>
    </select>
    <button onclick='doAction("setDifficulty")'>Update Difficulty</button>
  </div>
  <form id="maintenanceForm" action="/admin/manage/maintenance" method="post">
    <input id="_csrf" type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <input id="hiddenAction" type="hidden" name="action" value="" />
    <input id="hiddenDifficulty" type="hidden" name="pow-difficulty" value="" />
  </form>
  <h3>Manage User Tokens</h3>
  <p><button onclick='doAction("expireTempTokens")'>🕒 Expire All Temporary Tokens</button></p>
  <p><button onclick='doAction("cleanTempTokens")'>🧹 Delete Expired Temporary Tokens</button></p>
</div>

<script>
  function doAction(action) {
    document.getElementById("hiddenAction").value = action;
    if (action === "setDifficulty") {
      document.getElementById("hiddenDifficulty").value = document.getElementById("difficulty").value;
    }
    document.getElementById("maintenanceForm").submit();
  }
</script>
<%- include("partials/admin-footer") %>
