<%- include("partials/shared_header", { title: "User Self-Serve" }) %>
    <h1>OAI Reverse Proxy — User</h1>
    <ul>
      <li><a href="/user/lookup">Lookup your info</a></li>
    </ul>
  </body>
</html>
