<%- include("_partials/shared_header", { title: "User Self-Serve" }) %>
    <h1>User Self-Serve</h1>
    <ul>
      <li><a href="/user/lookup">Lookup your user info</a></li>
    </ul>
  </body>
</html>
