<%- include("../_partials/admin-header", { title: "OAI Reverse Proxy Admin" }) %>
    <h1>OAI Reverse Proxy Admin</h1>
    <ul>
      <li><a href="/admin/users">List Users</a></li>
      <li><a href="/admin/users/create-user">Create User</a></li>
      <li><a href="/admin/users/import-users">Import Users</a></li>
      <li><a href="/admin/users/export">Export Users</a></li>
    </ul>
<%- include("../_partials/admin-footer") %>
